.selectwrapper .mat-form-field{
    margin: 0 15px;
  }
  h1{
    color: #11baf8;
    border: blanchedalmond;
    text-align: center;
    font-family: cursive;
    font-weight: 600;
  }
  .selectwrapper{
    width: 80%;
    margin: 0 auto;
    padding: 2% 0% 2% 2%;
  }
  .selectcontainer{
    margin-left: 28%;
  }
  .pageheader{
    width: 80%;
    margin:0 auto;
    display:flex;
    height:100px;
    border-bottom: solid 1px rgb(232, 232, 232);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .socialwrapper{
    display:block;
    margin: 0 15px;
  }
  .socialwrapper img{
    height:30px;
  }
  .youtube{
    display: flex;
  
  }
  .youtube img{
    margin-right: 15px;
  }
  .youtube h4, .youtube h4 a{
    text-decoration: none;
    font-size: 19px;
    color: black;
  }
  .youtube h4 a:hover{
    color: #3c074e;
  }
  .propertiesseletced{
    display:flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding-bottom: 20px;
  }
  .propertiesseletced .state span, .propertiesseletced .city span{
    display:block;
    padding:10px;
    border-bottom: solid 1px rgb(235, 235, 235);
  }
  .propertiesseletced .state h6, .propertiesseletced .city h6{
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  .propertiesseletced .state, .propertiesseletced .city{
    width: 21rem;
    height: 31rem;
    overflow:scroll;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding:12px;
  
  }
  
  
  